.about-section {
    background-image: url('../../images/Banner&Background/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: fit-content;
    background-blend-mode: overlay;


}